@using Domain.Models
@model LastSeenItem

<div class="itemview">
	<div class="thumbnail">
		<img class="image" src="@Html.Raw(Model.ImageUrl)" />
		<div class="title"><p><strong>@Html.Raw(Model.Name)</strong></p></div>
		<div class="season-episode">
			@Html.Raw(Model.Season != 0 ? $"S: {Model.Season}" : "")
			@if (Model.Season != 0 && Model.Episode != 0)
			{
				@Html.Raw(", ")
			}
			@Html.Raw(Model.Episode != 0 ? $"E: {Model.Episode}" : "")
		</div>
		<div class="seen">
			@if (Model.Unfinished)
			{
				if (Model.Hours != 0 || Model.Minutes != 0 || Model.Seconds != 0)
				{
					@Html.Raw($"Seen: ")
					@Html.Raw(Model.Hours != 0 ? $"{Model.Hours}h" : "")
					@Html.Raw(Model.Minutes != 0 ? $" {Model.Minutes}m" : "")
					@Html.Raw(Model.Seconds != 0 ? $" {Model.Seconds}s" : "")
				}
			}
		</div>
		<div class="notes">
			@if (string.IsNullOrWhiteSpace(Model.Notes) == false)
			{
				@Html.Raw(Model.Notes)
			}
		</div>
		<div class="row">
			<a class="btn button-spacing" href="@Html.Raw(Model.VisitUrl)" target="_blank">Watch</a>
			<a class="btn button-spacing" href="javascript:void(0);" onclick="_popup.open('@Html.Raw(Model.Id)')">Update</a>
		</div>
	</div>
</div>
